*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: #EEE792;
}

header{
    text-align: center;
    padding: 10px;
    color: #0DA4B5;
}
.nav{
    display: flex;
    align-items: center;
    background-color: red;
}
.item1, .item2, .item3{
    text-align: center;
    margin: 0 20px 0 20px;
    width: 33%;
    padding: 20px;
}
a{
    text-decoration: none;
    color: black;
}
main{
    background-color: #0DA4B5;
    padding: 30px;
    align-items: center;
    text-align: center;
}
.blok1, .blok2, .blok3{
    padding: 20px;
    width: 33,3%;
    display: inline;
}
#zdj, #zdj1, #zdj2{
    height: 150px;
    width: 300px;
}
#opis1{
    width: 33%;
    text-wrap: pretty;
}
.opis1, .opis2{
    width: 33%;
}
.opis22{
    display: flex;
    
  justify-content: center;
}

  
